<div class="login-style">
<div class="login-container">
  <div class="login-header">
    <h1>HRM-SYSTEM-LOGIN</h1>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="identifier">Username</label>
      <input type="text" id="identifier" formControlName="identifier" placeholder="Enter your email or username" required>
    </div>

    @if (form.controls.identifier.invalid && form.controls.identifier.touched) {
      <div class="error">
        @if (form.controls.identifier.errors?.['required']) {
          <p>Username is required.</p>
        }
      </div>
    }

 




    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" placeholder="Enter your password" required (paste)="preventPaste($event)">
    </div>

    @if (form.controls.password.invalid && form.controls.password.touched) {
      <div class="error">
        @if (form.controls.password.errors?.['required']) {
          <p>Password is required.</p>
        }@if (form.controls.password.errors?.['minlength']) {
          <p>Password must be at least 8 characters long.</p>
        }
      </div>
    }
    <button type="submit" class="login-btn">Sign In</button>
  </form>
  <div class="login-footer">
    <p>Don't have an account? <a href="auth/signup" style="color: #667eea; text-decoration: none;">Sign up</a></p>
  </div>
</div>
</div>

